{% extends "main/base.html" %}

{% block content %} 
     

<!--Register--> 
<div class="registrationcontainer">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		<form method="POST">	
    <label for="id_username">Username:</label>
      <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
        <br>
        
    <label for="id_email">Email:</label>
      <input type="email" name="email" required="" id="id_email"><br>

    <label for="id_password1">Password:</label>

      <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
	<span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
        <br>
        <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
    <label for="id_password2">Password confirmation:</label>
      <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
        <br>
        <span class="helptext">Enter the same password as before, for verification.</span>                   
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	{% if messages %}
	<ul class="messages">
    	{% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<p style = "color: red;">Registration Failed: {% endif %}
        {{ message }}
	</p>
    	</li>
    	{% endfor %}
</ul>
{% endif %}
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}