{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Noblesville Public Library</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/library.css' %}">
</head>
<body>
<div id = "wrapper">
	<header>
		<h1>Noblesville Public Library</h1>
		{% if user.is_authenticated %}
		
		{% endif %}
	</header>
	<nav>
	
	<a href="{% url 'main'%}">Home</a>&nbsp;&nbsp;
	<a href="{% url 'checkout'%}">Checkout</a>&nbsp;&nbsp; 
	<!--Checks if the user is logged in and replaces the login button if they are with logout button-->
		{% if user.is_authenticated %}
			<span class = "login_greeting"> Logged in as: {{ user.username }}</span>
  			<a href="{% url 'logout' %}" class = "login_button">Log Out</a>&nbsp;&nbsp;
		{% else %}
			<a href="{% url 'login'%}" class = "login_button">Login</a>&nbsp;&nbsp;
		{% endif %}
	</nav>	
	<div id = "mainblock">
	{% block content %}
        {% endblock %} 
	</div>
	
<main>
	
</main>
<footer>
	Copyright © 2023
	<br><a href = "https://github.com/Donner-von-Swabia/SDEV-220_Final-Project">Github Repo</a>
</footer>
	
</div>
</body>
</html>
