{% extends 'main/base.html' %}

{% block content %}
<br>
<div>
	<p>Click on a book to view reviews and reserve for checkout.</p>
	{% for book in books %}
	<article id = "onebook">
	<time>Published: {{book.publicationdate}}</time>
	<h2><a href = "{% url 'detailandreview' pk=book.id %}">{{book.title}}</a></h2>
	<h3>Authored by {{book.author}}</h3>
	<p>{{book.bookdescription}}</p>
	{% if book.checkout %}
	<p>Currently checked out by {{book.checkedoutuser}}</p>
	{% else %}
	<p>Book is in stock.</p>
	{% endif %}

	</article>
	{% endfor %}
</div>
<br>

{% endblock %}