{% extends 'main/base.html' %}

{% block content %}
<h1>Welcome to the Library Website</h1>
<p>
The Noblesville public library has been around for 200+ years as the centerpiece of knowledge in Noblesville.
</p> 
<h2>Books</h2>
<p>
 We have lots of books for everyone to enjoy in every genre, from fantasy, to romance, to old history books nobody has touched in centuries.
</p>
<h3>All are welcome</h3>
<p> 
Come one, come all, and reserve books online so you can pick them up in person. You need to make an account to browse our selection.
</p>
{% endblock %}